{% extends 'dashboard/base.html' %} {% load static %} {% block content %}

<div class="main-content position-relative max-height-vh-100 h-100">
  {% include 'dashboard/topNav.html' %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex align-items-center">
              <p class="mb-0">Make a Transaction</p>
            </div>
          </div>
          <div class="card-body">
            <p class="text-uppercase text-sm">Enter Details</p>
           {% include 'dashboard/transaction.html' %}
            <hr class="horizontal dark" />
            <p class="text-uppercase text-sm">Make a Deposit</p>
            <form div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label"
                    >Amount to be deposited</label
                  >
                  <sup style="color: red">*</sup>
                  <input class="form-control" type="number" value="" required />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="example-text-input" class="form-control-label"
                    >Method</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    value="Bank transfer"
                    disabled
                  />
                </div>
              </div>
              <button
                class="btn btn-primary btn-sm ms-auto"
                style="width: fit-content"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- loader and modal -->
</div>

{% endblock content %}
