{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
    .item.creditbanner {
        position: relative;
    }

    .banner-content {
        position: absolute;
        top: 45%;
        left: 9%;
        background-color: #fff;
        padding: 30px 50px 30px 10px;
        box-shadow: 0 0 23px -5px #000;
    }

    .banner-content h3 {
        color: #033D75;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .banner-content p {
        color: #333;
        font-size: 20px;
        margin-bottom: 0;
    }

    .cardWr.row {
        box-shadow: 0 0 15px -3px #000;
        margin: 60px 0;
        border-radius: 0;
    }

    .single-bolg.hover01 a:hover .blog-content {
        color: #EF454D;
        transition: all .5s ease 0s;
    }

    .cardWr .col-sm-8 {
        padding: 30px;
    }

    .cardWr .col-sm-4 {
        padding: 40px 30px 30px;
    }

    .cardWr .col-sm-4 {
        background-color: #033D75;
        color: #fff;
    }

    .cardWr .col-sm-4 .col-sm-12 {
        padding: 0;
    }

    .cardWr .col-sm-12 p {
        margin: 8px 0 15px;
        font-size: 18px;
    }

    .cardWr .col-sm-12 h2 {
        font-size: 22px;
        font-weight: bold;
        color: #033D75;
        margin-bottom: 17px;
        margin-top: 15px;
        text-transform: uppercase;
        line-height: 32px;
    }

    .inner-card-wr .fa.fa-check {
        margin-right: 10px;
    }

    .cardWr .col-sm-12 ul,
    .inner-card-wr ul {
        padding-left: 0;
    }

    .inner-card-wr li {
        font-weight: bold;
    }

    .inner-card-wr ul p {
        margin-left: 29px;
        margin-bottom: 18px;
    }

    .card-single-wr h2 {
        font-size: 30px;
        position: relative;
        margin-left: 20px;
        margin-bottom: 30px;
        color: #033D75;
    }

    .card-single-wr h2::before {
        position: absolute;
        left: -25px;
        top: 0;
        width: 5px;
        height: 32px;
        background-color: #EF454D;
        content: '';
    }

    .inner-card-wr h3 {
        margin-bottom: 23px;
        font-size: 24px;
        margin-top: 40px;
        font-weight: bold;
        color: #EF454D;
    }

    .cardWr .col-sm-12 li,
    .inner-card-wr li {
        display: block;
        margin-bottom: 14px;
    }

    .card-single-wr {
        border-top: 1px solid #033D75;
        padding: 45px 0 22px;
    }

    .inner-card-wr p a {
        color: #033d75;
        text-decoration: underline;
    }

    .firstspan {
        width: 4%;
        display: inline-block;
        vertical-align: top;
    }

    .secondspan {
        display: inline-block;
        width: 90%;
        vertical-align: top;
    }

    .rightwr .col-sm-12 p {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    p span {
        display: block;
        font-size: 16px;
    }

    .readmoreWr {
        text-align: left;
        margin: 20px 0 20px;
        padding-left: 15px;
    }

    .fa.fa-info-circle {
        margin-right: 10px;
    }

    i.fa.fa-check {
        color: #033D75;
        font-size: 19px;
    }

    .inner-card-wr.lowerwr ul {
        margin: 5px 0;
    }

    i.fa.fa-download {
        margin-right: 10px;
        color: #033D75;
    }

    .inner-card-wr.lowerwr li {
        font-weight: normal;
    }

    .inner-card-wr.lowerwr li a {
        color: #033D75;
    }

    .inner-card-wr.lowerwr li a:hover {
        color: #EF454D;
    }

    .toggleclass {
        color: #333;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 25px;
        display: inline-block;
    }

    .toggleclass:hover {
        text-decoration: underline;
    }

    .logonwr {
        margin-bottom: 35px;
    }

    .collapse h3 a {
        color: #033D75;
    }

    .business-wr {
        padding: 0;
        margin-top: 40px;
    }

    .blog-content {
        font-size: 22px;
        margin: 15px 0;
        text-align: left;
    }

    .single-bolg.hover01 {
        margin-top: 0;
    }

    #demo1 .col-sm-6 h3 {
        margin-top: 0;
    }

    .col-sm-12 li {
        font-weight: bold;
    }

    .accordion {
        background-color: #033D75;
        color: #fff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 16px;
        transition: 0.4s;
        margin-bottom: 2px;
        font-weight: bold;
    }

    .inner-card-wr.accordianwr {
        margin-bottom: 45px;
    }

    .accordion.active,
    .accordion:hover {
        background-color: #EF454D;
        outline: none;
        border: none;
    }

    .accordion:after {
        content: '\002B';
        color: #fff;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .accordion.active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .inner-card-wr.accordianwr .col-sm-8 h3 {
        margin: 5px 0 15px 0;
    }

    .inner-card-wr.accordianwr .row {
        padding: 0;
        margin: 15px 0 0;
    }

    .inner-card-wr.accordianwr .panel {
        padding: 0;
        margin: 0;
    }

    .panel .inner-card-wr {
        padding: 20px;
    }

    .panel li {
        font-weight: normal;
    }

    .leftwr .col-sm-12 li {
        font-weight: normal;
    }
</style>

<!-- Preloader -->
<div id="fakeloader"></div>


{% include 'home/nav.html' %}
<div class="business-main-slider">
    <div class="owl-carousel main-slider">
        <div class="item creditbanner">
            <div class="hvrbox">
                <img src="../../static/images/man-beach-hammock.jpg" alt="credit" class="hvrbox-layer_bottom">
            </div>
            <div class="banner-content">
                <div class="innerBanner container">
                    <h3>Find a branch</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-detail-wr">
    <div class="container">
        <div class="cardWr row">
            <div class="col-sm-8 leftwr">
                <div class="col-sm-12" style="margin-bottom: 15px;">
                    <h2>Simply enter your postcode, location or sort-code below to pinpoint your nearest branches on the
                        map.</h2>
                </div>
                <div class="col-sm-12">
                    <ul>
                        <li><span class="firstspan"><i class="fa fa-check" aria-hidden="true"></i></i></span><span
                                class="secondspan">Before you go please remember...</span></li>

                        <li><span class="firstspan"><i class="fa fa-check" aria-hidden="true"></i></i></span><span
                                class="secondspan">Counter service times may differ from branch opening times and are
                                not available on Saturdays</span></li>

                        <li><span class="firstspan"><i class="fa fa-check" aria-hidden="true"></i></i></span><span
                                class="secondspan">If you do need to use counter services during the working week, check
                                that the branch you intend to use offers the service</span></li>

                        <li><span class="firstspan"><i class="fa fa-check" aria-hidden="true"></i></i></span><span
                                class="secondspan">Branch opening hours are subject to public holidays</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 rightwr">
                <p style="font-size: 28px;font-weight: bold;line-height: 32px;">Banking on the go</p>
                <div class="col-sm-12 variableper">
                    <p>Download our app and set up your mobile banking in minutes.</p>
                </div>
                <a href="#"
                    style="background-color: #EF454D;color: #fff;padding: 10px 15px;display: inline-block;border-radius: 5px;"
                    class="bussiness-btn-larg1">Find out more</a>
            </div>
        </div>

        <div class="card-single-wr">
            <h2>Please select your location</h2>
            <div class="row">
                <div class="col-sm-6">
                    <iframe style="width: 100%;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22572054.315804176!2d-5.382882299202164!3d46.32219463313758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x25a3b1142c791a9%3A0xc4f8a0433288257a!2sUnited+Kingdom!5e0!3m2!1sen!2sin!4v1534143975998"
                        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-sm-6">
                    <style type="text/css">
                        #searchOptions label {
                            font-size: 18px;
                            color: #000;
                        }

                        #searchOptions select {
                            color: #000;
                            margin-bottom: 20px;
                        }

                        #searchOptions {
                            padding: 25px;
                        }

                        .bussiness-btn-larg2,
                        .searchbtn {
                            background: #EF454D !important;
                            color: #fff !important;
                            border: none !important;
                            padding: 10px 20px 12px !important;
                            display: inline-block !important;
                            margin-top: 0 !important;
                            font-size: 15px !important;
                        }

                        .inner-addon {
                            margin-bottom: 20px;
                        }

                        .searchbox {
                            width: 79%;
                            display: inline-block;
                        }

                        .searchbtn {
                            width: 20%;
                            display: inline-block !important;
                            vertical-align: top;
                            height: 45px;
                        }

                        #lowerSubmitBL .bussiness-btn-larg2 {
                            margin-top: 15px !important;
                        }
                    </style>
                    <div class="inner-addon right-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" class="form-control searchbox" placeholder="Search" />
                        <input type="submit" value="search" class="form-control searchbtn" />
                    </div>
                    <fieldset id="searchOptions">
                        <h4 class="hidden">Options</h4>
                        <div class="searchOptionRow mainOptionRow">
                            <label>Where is my nearest</label>
                            <select class="form-control" id="locateFiltersSelect" name="locateFiltersSelect">
                                <option value="bch" selected="selected">Bank Branch</option>
                                <option value="bus">Bank Business Specialist</option>
                                <option value="atm">Bank ATM</option>
                            </select>
                        </div>
                        <div class="searchOptionRow mainOptionRow">
                            <label>Search radius</label>
                            <select class="form-control" id="radiusFilterSelect" name="radiusFilterSelect">
                                <option value="20">20 miles</option>
                                <option value="10" selected="selected">10 miles</option>
                                <option value="5">5 miles</option>
                                <option value="2.5">2.5 miles</option>
                                <option value="1">1 mile</option>
                            </select>
                        </div>
                        <div id="filterSet" class="filterSet">
                            <h4 style="margin: 35px 0 15px;">What service do you require? (optional)</h4>
                            <div class="searchOptionRow">
                                <input name="filterDisabledAccess" id="filterDisabledAccess" data-filter="D"
                                    type="checkbox">
                                <label for="filterDisabledAccess">Disabled Access</label>
                            </div>
                            <div class="searchOptionRow">
                                <input name="filterOpenSat" id="filterOpenSat" data-filter="S" type="checkbox">
                                <label for="filterOpenSat">Open on Saturday</label>
                            </div>
                            <div class="searchOptionRow">
                                <input name="filterCounterService" id="filterCounterService" data-filter="C"
                                    type="checkbox">
                                <label for="filterCounterService">Counter Service</label>
                            </div>
                            <div class="searchOptionRow">
                                <input name="filterPremierBranch" id="filterPremierBranch" data-filter="P"
                                    type="checkbox">
                                <label for="filterPremierBranch">Premier Branch</label>
                            </div>
                            <div class="searchOptionRow">
                                <input name="filterTalkingATM" id="filterTalkingATM" data-filter="T" type="checkbox">
                                <label for="filterTalkingATM">Talking ATM</label>
                            </div>

                        </div>
                        <div id="lowerSubmitBL">
                            <input class="bussiness-btn-larg2" type="submit"
                                title="Search using the text address you provided" value="Search">
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="card-single-wr">
            <h2>You might also be interested in</h2>
            <div class="inner-card-wr">
                <div class="business-wr">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="single-bolg hover01">
                                    <a href="#">
                                        <figure><img src="../../static/images/banking_locator.png" alt="slide 1" class=""></figure>
                                        <div class="blog-content">
                                            Express Banking<i style="margin-left: 10px;" class="fa fa-angle-right"
                                                aria-hidden="true"></i>
                                        </div>
                                    </a>
                                    <p>Express Banking machines are a quick, easy and secure way to do everyday banking
                                        transactions in branch.</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-bolg hover01">
                                    <a href="#">
                                        <figure><img src="../../static/images/banking_locator.png" alt="slide 1" class=""></figure>
                                        <div class="blog-content">
                                            Mobile<i style="margin-left: 10px;" class="fa fa-angle-right"
                                                aria-hidden="true"></i>
                                        </div>
                                    </a>
                                    <p>Keep track of your balance and transactions when you're on the move.</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-bolg hover01">
                                    <a href="#">
                                        <figure><img src="../../static/images/banking_locator.png" alt="slide 1" class=""></figure>
                                        <div class="blog-content">
                                            Banking made easy<i style="margin-left: 10px;" class="fa fa-angle-right"
                                                aria-hidden="true"></i>
                                        </div>
                                    </a>
                                    <p>From explaining paying-in slips to learning more about our cheque clearing
                                        process, you can discover all the things we've created to make banking easy.</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-bolg hover01">
                                    <a href="#">
                                        <figure><img src="../../static/images/banking_locator.png" alt="slide 1" class=""></figure>
                                        <div class="blog-content">
                                            Online Banking support<i style="margin-left: 10px;"
                                                class="fa fa-angle-right" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                    <p>Information, demos and troubleshooting guides to help you use Online Banking and
                                        your Secure Key.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}