
<div class="top-menu-1x">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-menu-left">
                    <p>Need help? Contact Us</p>
                    <!-- <b><i class="fa fa-phone"></i> +1 (000) 000-0000</b> -->
                    <b><i class="fa fa-envelope"></i><a style="color:#fff;"
                            href="mailto:support@nexabanking.com">support@nexabanking.com</a></b>
                    
                </div>
            </div>
            <!--<div class="col-md-6">
					<div class="top-menu-right">
						<div class="footer-info-right">
							<ul>
								<li><a href="#"> <i class="fa fa-facebook"></i> </a></li>										
								<li><a href="#"> <i class="fa fa-twitter"></i> </a></li>											
								<li><a href="#"> <i class="fa fa-google"></i> </a></li>									
								<li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>											
							</ul>					
						</div>					
					</div>				
				</div>-->
        </div>
    </div>
</div>
<div class="bussiness-main-menu-1x">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="business-main-menu">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light btco-hover-menu">
                        <a class="navbar-brand" href="/">
                            <img style="max-width:80px;" src="../../static/images/nexa.png"
                                class="d-inline-block align-top" alt="">
                            <!--<h2><span style="color:#EC4550;">I</span><span style="color:#0E3768;">BG</span></h2>-->
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                            <ul class="navbar-nav ml-auto business-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Banking Services <i class="fa fa-angle-down"></i><span
                                            style="display: block;font-size: 11px;">Accounts & services</span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2"
                                        style="width: 100%;background-color: #fff;">

                                        <div class="container">
                                            <div class="business-services nav1">
                                                <div class="row">
                                                    <div class="col-md-12 service-content">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="/current-accounts"
                                                                                class="menuhead">Current
                                                                                Accounts</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/premier-accounts">Premier
                                                                                    Account</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/advance-accounts">Advance
                                                                                    Account</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/student-accounts">Student
                                                                                    Account</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/bank-accounts">Bank
                                                                                    Account</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="saving-accounts.html"
                                                                                class="menuhead">Savings</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="isas-accounts.html">ISAs</a>
                                                                            </li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="online-bonus-saver.html">Online
                                                                                    Bonus Saver</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="flexible-saver.html">Flexible
                                                                                    Saver</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="credit-cards.html"
                                                                                class="menuhead">Credit cards</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="32-month-balance-transfer.html">32
                                                                                    Month Transfer Credit Card</a>
                                                                            </li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="advance.html">Advance
                                                                                    Credit Card</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="dual.html">Dual Credit
                                                                                    Card</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="classic.html">Classic
                                                                                    Credit Card</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="premier.html">Premier
                                                                                    Credit Card</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="premier-world-elite.html">Premier
                                                                                    World Elite Mastercard</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="student.html">Student
                                                                                    Credit Card</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="contactandsupport.html"
                                                                                class="menuhead">Services</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="ways-to-bank.html">Ways to
                                                                                    bank</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="phone-banking.html">Voice
                                                                                    ID</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="contactandsupport.html">Contact
                                                                                    & Support</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="branch-locator.html">Find
                                                                                    a Branch</a></li>
                                                                            <a style="margin-top: 15px;"
                                                                                href="international.html"
                                                                                class="menuhead">International
                                                                                services</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="currency-account.html">Currency
                                                                                    Account</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="money-transfer.html">International
                                                                                    Payments</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="travel-money.html">Travel
                                                                                    money</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Borrowing <i class="fa fa-angle-down"></i><span
                                            style="display: block;font-size: 11px;">Loans & mortgages</span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2"
                                        style="width: 100%;background-color: #fff;">

                                        <div class="container">
                                            <div class="business-services nav2">
                                                <div class="row">
                                                    <div class="col-md-12 service-content">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="/loans"
                                                                                class="menuhead">Loans</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/personal-loans">Personal
                                                                                    Loan</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/car-loans">Car
                                                                                    Loan</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/flexible">Flexiloan</a>
                                                                            </li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/premier-personal">Premier
                                                                                    Personal Loan</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/graduate-loans">Graduate
                                                                                    Loan</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="/overdrafts"
                                                                                class="menuhead">Overdrafts</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="mortgages.html"
                                                                                class="menuhead">Mortgages</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="first-time-buyers.html">First
                                                                                    time buyer</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="95-mortgages.html">95%
                                                                                    Mortgages</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="remortgage.html">Remortgage</a>
                                                                            </li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="buy-to-let-mortgages.html">Buy
                                                                                    to let</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="existing-customers.html">Existing
                                                                                    homeowner</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="mortgage-rates.html">Mortgage
                                                                                    rates</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="armed-forces.html">Armed
                                                                                    Forces Personnel</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="credit-cards.html"
                                                                                class="menuhead">Credit cards</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="32-month-balance-transfer.html">32
                                                                                    Month Transfer Credit Card</a>
                                                                            </li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="advance.html">Advance
                                                                                    Credit Card</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="dual.html">Dual Credit
                                                                                    Card</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="classic.html">Classic
                                                                                    Credit Card</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="premier.html">Premier
                                                                                    Credit Card</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="premier-world-elite.html">Premier
                                                                                    World Elite Mastercard</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="student.html">Student
                                                                                    Credit Card</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="contactandsupport.html"
                                                                                class="menuhead">Services</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="contactandsupport.html">Help
                                                                                    & Support</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="money-worries.html">Money
                                                                                    Worries</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="branch-locator.html">Find
                                                                                    a Branch</a></li>

                                                                            <a style="margin-top: 15px;"
                                                                                href="tools-and-guides.html"
                                                                                class="menuhead">Tools & Guides</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="overpayment-calculator.html">Overpayment
                                                                                    calculator</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="repayment-calculator.html">Repayment
                                                                                    calculator</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="bank-of-england-base-rate.html">Base
                                                                                    rate information</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Investing <i class="fa fa-angle-down"></i><span
                                            style="display: block;font-size: 11px;">Products & analysis</span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2"
                                        style="width: 100%;background-color: #fff;">

                                        <div class="container">
                                            <div class="business-services nav3">
                                                <div class="row">
                                                    <div class="col-md-12 service-content">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="/investing"
                                                                                class="menuhead">Investments</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/investment-funds">Investment
                                                                                    funds</a></li>
                                                                                    <li><a class="dropdown-item" href="/why-invest-with-us">Why invest with us
                                                                                            </a></li>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="news.html"
                                                                                class="menuhead">Financial news &
                                                                                analysis</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="why-invest-with-us.html"
                                                                                class="menuhead">Why invest with
                                                                                us?</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="why-invest-with-us.html">Find
                                                                                    out more</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="wealth-insights.html"
                                                                                class="menuhead">Wealth Insights
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="investment-funds-online.html"
                                                                                class="menuhead">Global Investment
                                                                                Centre</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="investment-funds-online.html">Find
                                                                                    out more</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="contactandsupport.html"
                                                                                class="menuhead">Customer
                                                                                support</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="gsa.html">Log on to Global
                                                                                    Investment<br>Centre</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="gsa.html">Log on to
                                                                                    Sharedealing</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="contactandsupport.html">Investments
                                                                                    contacts</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="selected-investment-funds.html">Existing
                                                                                    Selected
                                                                                    Investments<br>Customers</a>
                                                                            </li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="getting-started.html">Getting
                                                                                    started with investing</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="contactandsupport.html">View
                                                                                    all</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Insurance <i class="fa fa-angle-down"></i><span
                                            style="display: block;font-size: 11px;">Property & family</span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2"
                                        style="width: 100%;background-color: #fff;">

                                        <div class="container">
                                            <div class="business-services nav4">
                                                <div class="row">
                                                    <div class="col-md-12 service-content">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="/insurance"
                                                                                class="menuhead">Insurance</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/home-insurance">Home
                                                                                    Insurance</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/travel-insurance">Travel
                                                                                    Insurance</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="/student-insurance">Student
                                                                                    Insurance</a></li>
                                                                           
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="life-insurance.html"
                                                                                class="menuhead">Life Insurance</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="life-cover.html">Life
                                                                                    Cover</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="critical-illness-cover.html">Critical
                                                                                    Illness Cover</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="income-cover.html">Income
                                                                                    Cover</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="protection-telephone-advice.html">Telephone
                                                                                    Protection Advice</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="life-insurance.html">View
                                                                                    all</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="insurance.html"
                                                                                class="menuhead">Insurance
                                                                                Claims</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="home-insurance-claims.html">Home
                                                                                    Insurance Claims</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="travel-insurance.html">Travel
                                                                                    Insurance Claims</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="car-insurance-claims.html">Car
                                                                                    Insurance Claims</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="premier-accounts.html"
                                                                                class="menuhead">Premier
                                                                                Customers</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="premier-travel.html">Travel
                                                                                    Insurance Claims</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="premier-car.html">Car
                                                                                    Insurance Claims</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li>

                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Life events <i class="fa fa-angle-down"></i><span
                                            style="display: block;font-size: 11px;">Help & support</span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2"
                                        style="width: 100%;background-color: #fff;">

                                        <div class="container">
                                            <div class="business-services nav5">
                                                <div class="row">
                                                    <div class="col-md-12 service-content">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="life-events.html"
                                                                                class="menuhead">Life events</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="dealing-with-bereavement.html">Bereavement
                                                                                    support</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="dealing-with-separation.html">Separation
                                                                                    support</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="settling.html">Settling in
                                                                                    the US</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="getting-married.html">Getting
                                                                                    married</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="planning-your-retirement.html">Planning
                                                                                    your retirement</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="growing-your-wealth.html">Growing
                                                                                    your wealth</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="moving-abroad.html">Moving
                                                                                    abroad</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="life-events.html">View
                                                                                    all</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="planningtools.html"
                                                                                class="menuhead">Planning tools</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="financial-health-check.html">Financial
                                                                                    health check</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="planningtools.html">View
                                                                                    All</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="protecting-what-matters.html"
                                                                                class="menuhead">Protecting what
                                                                                matters</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="protecting-what-matters.html">Learn
                                                                                    more</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="single-services">
                                                                    <div class="media">
                                                                        <div class="media-body">
                                                                            <a href="contactandsupport.html"
                                                                                class="menuhead">Customer
                                                                                support</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="ways-we-can-help.html">Ways
                                                                                    we can help</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="money-worries.html">Money
                                                                                    Worries</a></li>
                                                                            <li><a class="dropdown-item"
                                                                                    href="ways-we-can-help.html">Frequently
                                                                                    asked questions</a></li>
                                                                            <a style="margin-top: 15px;"
                                                                                href="quality-conversations.html"
                                                                                class="menuhead">Individual
                                                                                Review</a>
                                                                            <li><a class="dropdown-item"
                                                                                    href="quality-conversations.html">Book
                                                                                    your review today for a<br>quick
                                                                                    financial checkup</a></li>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </li> -->

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>